.Card {
    width: 100%;
    height: 200px;
    background-color: silver;
}

.bitcoin {
    background-color: yellow;
}

.mastercard {
    background-color: red;
}

.visa {
    background-color: blue;
}

.dogecoin {
    background-color: orange;
}